@if (ViewBag.CurrentSortBy == ViewBag.ColumnName && ViewBag.CurrentSortOrder == SortOrderOptions.ASC)
{
    <th>
        <a asp-controller="Home" asp-action="Index"
           asp-route-searchBy="@ViewBag.CurrentSeachBy"
           asp-route-searchString="@ViewBag.CurrentSeachString"
           asp-route-sortBy="@ViewBag.ColumnName"
           asp-route-sortOrder="DESC">@ViewBag.DisplayName </a>
        <i class="fa-solid fa-sort-up"></i>
    </th>

}
else if (
ViewBag.CurrentSortBy == ViewBag.ColumnName && ViewBag.CurrentSortOrder == SortOrderOptions.DESC
)
{
    <th>

        <a asp-controller="Home" asp-action="Index"
           asp-route-searchBy="@ViewBag.CurrentSeachBy"
           asp-route-searchString="@ViewBag.CurrentSeachString"
           asp-route-sortBy="@ViewBag.ColumnName"
           asp-route-sortOrder="ASC">@ViewBag.DisplayName </a>
        <i class="fa-solid fa-sort-down"></i>
    </th>
}
else{

    <th>

        <a asp-controller="Home" asp-action="Index"
           asp-route-searchBy="@ViewBag.CurrentSeachBy"
           asp-route-searchString="@ViewBag.CurrentSeachString"
           asp-route-sortBy="@ViewBag.ColumnName"
           asp-route-sortOrder="ASC">@ViewBag.DisplayName</a>
    </th>
}